.my-message {
  --my-message-bg-color: var(--my-color-info-light-9);
  --my-message-border-color: var(--my-border-color-lighter);
  --my-message-padding: 11px 15px;
  --my-message-close-size: 16px;
  --my-message-close-icon-color: var(--my-text-color-placeholder);
  --my-message-close-hover-color: var(--my-text-color-secondary);
}

.my-message {
  width: fit-content;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  border-radius: var(--my-border-radius-base);
  border-width: var(--my-border-width);
  border-style: var(--my-border-style);
  border-color: var(--my-message-border-color);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  background-color: var(--my-message-bg-color);
  transition:
    opacity var(--my-transition-duration),
    transform 0.4s,
    top 0.4s;
  padding: var(--my-message-padding);
  display: flex;
  align-items: center;
  gap: 8px;
  .my-message__content {
    padding: 0;
    font-size: 14px;
    line-height: 1;
  }

  &.is-close .my-message__content {
    padding-right: 30px;
  }

  .my-message__close {
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .my-message__close svg {
    cursor: pointer;
  }

  &.fade-up-enter-from,
  &.fade-up-leave-to {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}

@each $val in info, success, warning, primary, error {
  .my-message--#{$val} {
    --my-message-bg-color: var(--my-color-#{$val}-light-9);
    --my-message-border-color: var(--my-color-#{$val}-light-8);
    --my-message-text-color: var(--my-color-#{$val});
    .my-message__close {
      --my-icon-color: var(--my-color-#{$val});
    }
  }
}
